@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: $primary_background_color;

    .general-content-formatting{
        width: 80%;
        margin: auto;
    }
    .flex-center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    button{
        background-color: $btn_primary_color;
        color: $btn_text_primary_color;
        cursor: pointer;
        width: 200px;
        height: 40px;
        padding: 5px;
        font-weight: 600;
        font-size: 16px;
        border: 0;
    }
    a{
        text-decoration: none;
    }
}