header{
    
    background-color: $nav_primary_background_color;
    .top-header-bar{
        
        background-color: $top_header_bar_primary__background_color;
        .general-content-formatting{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: $top_header_bar_primary__text_color;
            font-size: 14px;
            .top-header-dropdown{
                padding: 5px 0;
                padding-left: 70px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                i{
                    padding-left: 10px;
                }  
            }
        }
    }
    .general-content-formatting{
        
        nav{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            font-weight: bold;
            
            .container-img{
                
                height: 5rem;
                
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
                
            }
            ul{
                display: flex;
                align-items: center;
                list-style: none;
                li:last-child{
                   padding-right: 0rem; 
                   margin-right: 0rem; 
                }
                li{
                    padding: 2.5rem 0;
                    margin: 0rem 1rem;
                
                    &.active{
                        color: $active_color;
                        border-bottom: .1875rem solid $active_color;
                        a{
                        color: $active_color;
                        }
                    }
                    a{
                        color: $nav_primary_text_color;
                        font-size: 14px;
                        .dropdown-shop-arrow{
                            color: $search_bar_primary_color;
                        }
                    }
                }
                li.container-search-bar{
                    padding: 0;
                    .search-bar{
                        border-bottom: 3px solid $search_bar_primary_color;
                    }

                }
            }
        }
    }
}
.container-hero{
    background-image: url('../images/jumbotron.jpg');
    background-position: center top;
    background-size: cover;
    height: 25rem;
    width: 100%;
}