$top_header_bar_primary__background_color:#0282f9;
$top_header_bar_primary__text_color:#fff;

$nav_primary_background_color:#ffffff;
$active_color:#0282f9;
$nav_primary_text_color:#46464c;
$search_bar_primary_color:#0282f9;





$primary_background_color:#1c1c1c;
$btn_primary_color:#0282f9;
$btn_text_primary_color:#fff;
$comics_title_color:#f1fbff;




$site-features_primary_background_color:#0282f9;